.descripcion {
  width: 700px;
  height: 500px;
  background-color: azure;
  margin: 10px;
  color: black;
  padding: 100px;
  box-sizing: border-box;
}

.imagenDiv {
  width: 700px;
  height: 500px;
  background-color: azure;
  margin: 10px;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.contenido {
  justify-content: center;
  display: flex;
  text-align: start;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 18px;
}
