button{
    border: none;
    width: 150px;
    height: 50px;
    font-family: GoghBook;
    text-transform: uppercase;
    color: white;
    background-color: #1a3336;
}
button:hover{
    color: black;
    background-color: #1a3336a1;
}

@font-face {
    font-family: GoghBook;
    src: url(/src/Components/Fonts/Gogh-Book.ttf);
}