.contenido {
  background-color: #fbfbec;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: GoghBook;
  color: #1a3336;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
}
@font-face {
  font-family: GoghBook;
  src: url(/src/Components/Fonts/Gogh-Book.ttf);
}
