.contenedor{
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: #143434;
}
.titulo{
    font-family: Kepler;
    color: white;
    font-size: 50px;
    text-align: center;
}
.texto1{
    margin-top: 20px;
    font-family: GoghBook;
    font-size: 18px;
    color: white;
    text-align: center;
}
.texto2{
    margin-top: 20px;
    font-family: GoghBook;
    font-size: 16px;
    color:white;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

@font-face {
    font-family: Kepler;
    src: url(/src/Components/Fonts/Kepler\ Std\ Semicondensed\ Subhead.otf);
}
@font-face {
    font-family: GoghBook;
    src: url(/src/Components/Fonts/Gogh-Book.ttf);
}