.contenido{
    background-color: #fbfbec;
}
.inicio{
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fbfbec;
}
.titulo{
    margin-top: 20px;
    color: #1a3336;
    font-family: Kepler;
    font-size: 40px;
}
.texto{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: GoghBook;
    padding-bottom: 70px;
}
.textotit{
    margin-left: 50px;
    text-align: left;
    font-size: 25px;
    padding-top: 100px;
    font-family: Kepler;
    color: white;
}
.textocont{
    margin-top: 20px;
    margin-left: 50px;
    font-family: GoghBook;
    color: white;
    text-align: left;
}
.medio{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 46, 44);
}
.fundador{
    padding-top: 110px;
    padding-bottom: 70px;
    font-family: Kepler;
    font-size: 50px;
    color: white;
}
.contenedor{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.prueba{
    background-color: black;
}

@font-face {
    font-family: Kepler;
    src: url(/src/Components/Fonts/Kepler\ Std\ Semicondensed\ Subhead.otf);
}
@font-face {
    font-family: GoghBook;
    src: url(/src/Components/Fonts/Gogh-Book.ttf);
}